.cover__title{
  font-family: 'Inter', 'Arial', sans-serif; 
  color:#FFFFFF;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  z-index: 3;
  max-width: 560px;
  align-self: center;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px){
  .cover__title{
    font-size: calc( (100vw - 320px)/(768 - 320) * (72 - 32) + 32px);
  }
}

@media screen and (max-width: 750px){
  .cover__title{
    line-height: 50px;
  }
}

@media screen and (max-width: 320px){
  .cover__title{
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}