.place{
  font-family: 'Inter', 'Arial', sans-serif; 
  color:#FFFFFF;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  column-gap: 40px;
  row-gap: 48px;
  max-width: 100%;
}

@media screen and (max-width: 1200px){
  .place{
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px){
  .place{
    column-gap: 28px;
  }
}

@media screen and (max-width: 700px){
  .place {
    display: inline-flex;
    flex-direction: column;
    overflow: visible;
    row-gap: 32px;
    max-width: 100vw;
  }
}